/***** BASE STYLES *****/
body{
  font-family: "Lato", sans-serif;
}

/***** GRID *****/
.full-width{
  width: 1200px;
  margin: 0 auto;
}
.half-width{
  width: 600px;
  float: left;
}
.quarter-width{
  width: 300 px;
  float: left;
}

/***** HEADER *****/
header{
  height: 800px;
  background-color: #BAAEBF;
  background-size: cover;
}
header h1{
  color: #ffffff;
  font-family: "Lustria", serif;
  font-size: 80px;
  padding: 200px 300px 300px 200px;
}
header p{
  color: #F8E8FF;
  font-size: 40px;
  font-style: italic;
  padding: 200px 300px 300px 200px;
}

/***** NAV *****/

nav{
  float:right;
  padding: 75px 40px;
}
nav ul li{
  display: inline-block;
  height: 30px;
  float: left;
  padding: 0;
  text-decoration: none;
}
ul li:hover{
  background-color: #7C747F;
}
